.my-masonry-grid {
  display: -ms-flexbox; /* 1 */
  display: flex; /* 2 */
  -ms-flex-wrap: wrap; /* 3 */
  flex-wrap: wrap; /* 4 */
  margin-left: -15px; /* 5 */
}

/* clearfix */
.my-masonry-grid:after {
  content: "";
  display: block;
  clear: both;
}

.my-masonry-grid_column {
  width: 20%;
  padding: 15px;
  box-sizing: border-box;
}

.my-masonry-grid_item {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.my-masonry-grid_item img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: black;
}

.title {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 10px;
  color: white;
}
